/* Добавьте следующие стили для таблицы в kasutaja.css */

#data-table {
    width: 60%; 
    margin: 0 auto; 
    background-color: green;
    color: white; 
    border-collapse: collapse; 
    margin-top: 20px; 
}

#data-table th, #data-table td {
    padding: 10px; 
    border: 1px solid white; 
}
