/* Добавьте следующие стили для таблицы в kasutaja.css */

#data-table {
    width: 60%; /* Уменьшите ширину таблицы по вашему желанию */
    margin: 0 auto; /* Центрируйте таблицу по горизонтали */
    background-color: black; /* Цвет фона таблицы */
    color: white; /* Цвет текста в ячейках таблицы */
    border-collapse: collapse; /* Объединение границ ячеек таблицы */
    margin-top: 20px; /* Добавьте отступ сверху по вашему желанию */
}

#data-table th, #data-table td {
    padding: 10px; /* Добавьте отступы внутри ячеек таблицы */
    border: 1px solid white; /* Устанавливаем белую границу для ячеек таблицы */
}
